.banner
  = f.check_box :has_banner, :class => "checkbox"
  = f.label :has_banner, "Show Banner", :class => "radio"

  = f.label :banner_content, h('Slideshow content'), :class => "label"
  = f.text_field :banner_content, :class => "text_field", :value => params[:name]
  
  - @current_group.doctypes.each do |doctype|
    = f.radio_button :banner_content, doctype.name
    = "#{doctype.name}"

.submit
  = f.submit t('scaffold.update'), :class => "action-button"





